@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RENTACHAR</h1>
    <p class="lead">RENTACHAR est une application pour r&eacute;server des v&eacute;hicules partout dans le monde. Connectez-vous sans plus attendre avant de r&eacute;server votre char !</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Votre premi&egrave;re r&eacute;servation avec RENTACHAR</h2>
        <p>
            Si c'est la première fois que vous arrivez sur le site,
            Commencez par vous cr&eacute;er un compte gr&acirc;ce au bouton
            "S'inscrire" en haut &agrave; droite de votre écran. Vous pourrez
            alors entrer les dates de d&eacute;but et fin de r&eacute;servation pour
            d&eacute;marrer votre aventure dans notre grande famille !
        </p>
    </div>
    <div class="col-md-4">
        <h2>Des parkings partout dans le monde !</h2>
        <p>
            Une fois connect&eacute;, vous nous trouverez partout! Les oc&eacute;ans
            m&ecirc;mes ne saurons vous priver de nos services. N'h&eacute;sitez tout de m&ecirc;me
            pas &agrave; vous renseigner au pr&egrave;s de vous gouvernements pour l'acc&egrave;s en p&eacute;riode
            de Covid19...
        </p>
        <p><a class="btn btn-default" href="https://www.canada.ca/fr/sante-publique/services/maladies/2019-nouveau-coronavirus/prevention-risques.html?utm_campaign=hc-sc-phm-21-22&utm_medium=sem&utm_source=ggl-grant&utm_content=ad-text-fr&utm_term=covid%2019&adv=2122-0008&id_campaign=12663558364&id_source=119762101909&id_content=511679450618">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Un paiement sur place</h2>
        <p>Les paiements s'effectuent sur place &agrave; la collecte du v&eacute;hicule et apr&egrave;s validation des papiers d'identit&eacute; et permis de conduire!</p>
    </div>
</div>